@charset "UTF-8";
/* Scss Document */
/*fonts, norms, colors*/
/*green*/
/*yellow*/
/*gradient colors*/
/*font*/
/*Breakpoints parameters*/
/*Page 1 variables*/
/*Page 2 variables*/
/*variables, functions, mixin*/
/*linear gradient from left to right*/
/*linear gradient from top left to bottom right*/
/*properties menu animations*/
/*animation hover menu*/
/*underline parameters*/
/*mixin responsive*/
/*animation dot apparition*/
@-webkit-keyframes dots_apparition {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes dots_apparition {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

/*wriggle effect*/
@-webkit-keyframes wriggle {
  25% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  75% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
}
@keyframes wriggle {
  25% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  75% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
}

/*underline effect*/
@-webkit-keyframes underline {
  0% {
    background-size: 0 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}
@keyframes underline {
  0% {
    background-size: 0 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}

/*Blocs BEM*/
body {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    margin: 0;
  }
}

header {
  height: 150px;
  background-color: #579c87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  header {
    height: 100px;
  }
}

header .main_title {
  color: #fdcb46;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  header .main_title {
    font-size: 1.5em;
  }
}

footer {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #579c87;
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  left: auto;
  width: 80%;
}

@media screen and (max-width: 768px) {
  footer {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 10px;
  }
}

footer a {
  color: #fdcb46;
  margin: 10px;
  font-size: 1.6em;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  footer a {
    font-size: 1.2em;
  }
}

footer a:hover {
  -webkit-animation: wriggle 150ms cubic-bezier(0.4, 0.1, 0.6, 0.9);
          animation: wriggle 150ms cubic-bezier(0.4, 0.1, 0.6, 0.9);
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
}

/*Blocs BEM */
.icon {
  background-image: -webkit-gradient(linear, left top, right top, from(#f15861), to(#f78f6a));
  background-image: linear-gradient(to right, #f15861, #f78f6a);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

/*spécificités des pages*/
main {
  margin: 1em 0 1em 0;
}

.section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 50% 50% / 1fr 1fr;
  margin: 5% auto;
  gap: 1em;
  max-width: 900px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .section {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr/1fr;
  }
}

.section__link {
  width: 300px;
  height: 400px;
  -webkit-box-shadow: 3px 3px 5px #b2b2b2;
          box-shadow: 3px 3px 5px #b2b2b2;
  margin: 0 5%;
}

.section__link article {
  /*1article = 1 menu*/
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__link__menu_1 {
  background-color: #fcdfdb;
}

.section__link__menu_1 .icon {
  font-size: 3em;
  color: linear-gradient(to right, #f15861, #f78f6a);
  width: 100%;
  text-align: center;
  line-height: 1.2;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.section__link__menu_1 h2 {
  font-family: "Balsamiq Sans", cursive;
  font-size: 2.5em;
  text-shadow: 0px 0px 2px #f78f6a;
  margin: 0.2em 0;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.section__link__menu_1 h3 {
  font-family: "Kalam", cursive;
  font-size: 1.5em;
  text-shadow: 0px 0px 1px #f78f6a;
  margin: 0.5em 0;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.section__link__menu_1:hover > * {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.8;
}

.section__link__menu_2 {
  background-color: #fcecfa;
}

.section__link__menu_2 h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  color: #c77412;
  font-weight: 600;
  margin: 0.2em 0;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.section__link__menu_2 h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  margin: 0.5em 0;
  width: 100%;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#f15861), to(#905bfd));
  background-image: linear-gradient(to right, #f15861, #905bfd);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.section__link__menu_2:hover > * {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.8;
}

.section__link__menu_3 {
  background-color: #edefef;
}

.section__link__menu_3 h2 {
  font-family: "Kalam", cursive;
  font-size: 2.5em;
  color: #2b91f8;
  margin: 0.2em 0;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.section__link__menu_3 h3 {
  font-family: "Dancing Script", cursive;
  font-size: 1.5em;
  margin: 0.5em 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0431df), to(#0887fb));
  background-image: linear-gradient(to bottom right, #0431df, #0887fb);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  width: 100%;
  text-align: center;
}

.section__link__menu_3:hover > * {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.8;
}

.section__link__menu_4 {
  background-color: #e3ebe3;
  padding: 0;
}

.section__link__menu_4 h2 {
  font-family: "Kalam", cursive;
  font-size: 2.5em;
  color: #72bf56;
  margin: 0.2em 0;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.section__link__menu_4 h3 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5em;
  margin: 0.5em 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3d9339), to(#bfff7e));
  background-image: linear-gradient(to bottom right, #3d9339, #bfff7e);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  width: 100%;
  text-align: center;
}

.section__link__menu_4:hover > * {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.8;
}

aside {
  width: 50%;
  margin: 50px auto 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background-color: #579c87;
}

@media screen and (max-width: 768px) {
  aside {
    width: 80%;
    margin-top: 30px;
  }
}

aside h2 {
  color: #fdcb46;
  font-size: 2.5em;
  margin: 0.3em 0.3em;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  aside h2 {
    font-size: 1.5em;
  }
}

aside h2 .dots {
  -webkit-animation: dots_apparition 2s both infinite;
          animation: dots_apparition 2s both infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

aside h2 .dots::before {
  content: ".";
  -webkit-animation: dots_apparition 2s both infinite;
          animation: dots_apparition 2s both infinite;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

aside h2 .dots::after {
  content: ".";
  -webkit-animation: dots_apparition 2s both infinite;
          animation: dots_apparition 2s both infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.P1_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.P1_main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Balsamiq Sans", cursive;
}

.P1_main__title hr {
  color: red;
}

.P1_main__section {
  background-color: #fcdfdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .P1_main__section {
    width: 100%;
  }
}

.P1_main__section__icon {
  font-size: 4em;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .P1_main__section__icon {
    font-size: 3em;
    margin-top: 10px;
  }
}

.P1_main__section h2 {
  font-family: "Kalam", cursive;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .P1_main__section h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.P1_main__section__table {
  width: 80%;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .P1_main__section__table {
    width: 95%;
    display: block;
  }
}

.P1_main__section__table tr {
  /*Table line height*/
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .P1_main__section__table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
}

.P1_main__section__table tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .P1_main__section__table tbody {
    width: 100%;
    display: block;
  }
}

.P1_main__section__table__caption {
  font-family: "Balsamiq Sans", cursive;
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0;
}

@media screen and (min-width: 860px) and (max-width: 1020px) {
  .P1_main__section__table__caption {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) and (max-width: 860px) {
  .P1_main__section__table__caption {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 768px) {
  .P1_main__section__table__caption {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.P1_main__section__table__caption__line {
  width: 30%;
}

@media screen and (max-width: 768px) {
  .P1_main__section__table__caption__line {
    display: none;
  }
}

.P1_main__section__table__caption h2 {
  margin: 0;
}

.P1_main__section__table__caption h2:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(5%, black), color-stop(6%, transparent)) no-repeat;
  background: linear-gradient(to top, black 0%, black 5%, transparent 6%) no-repeat;
  background-position: left 0 bottom 2px;
  background-origin: content-box;
  -webkit-animation: underline 1s;
          animation: underline 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.P1_main__section__table__dish {
  font-family: "Dancing Script", cursive;
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .P1_main__section__table__dish {
    text-align: center;
    margin-bottom: 10px;
  }
}

.P1_main__section__table__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Dancing Script", cursive;
  font-size: 1.2em;
  font-weight: 600;
  text-align: right;
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  .P1_main__section__table__price {
    margin-bottom: 20px;
  }
}

.P1_main__section__foot_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.P1_main__section__foot_menu .icon {
  font-size: 2em;
  margin-right: 10px;
}

.P1_main__section__foot_menu h2 {
  font-family: "Kalam", cursive;
  margin: auto;
}

.P2_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.P2_main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Playfair Display", serif;
}

.P2_main__section {
  background-color: #fcecfa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .P2_main__section {
    width: 100%;
  }
}

.P2_main__section__title {
  font-family: "Playfair Display", serif;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f15861), to(#905bfd));
  background-image: linear-gradient(to right, #f15861, #905bfd);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.P2_main__section__table {
  width: 80%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*underline and color ajustment*/
}

@media screen and (max-width: 768px) {
  .P2_main__section__table {
    width: 95%;
    display: block;
  }
}

.P2_main__section__table tr {
  /*Table line height*/
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .P2_main__section__table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
}

.P2_main__section__table tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .P2_main__section__table tbody {
    width: 100%;
    display: block;
  }
}

.P2_main__section__table__caption {
  font-family: "Playfair Display", serif;
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 867px) {
  .P2_main__section__table__caption {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 768px) {
  .P2_main__section__table__caption {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.P2_main__section__table__caption__line {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .P2_main__section__table__caption__line {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .P2_main__section__table__caption h2 {
    margin-bottom: 10px;
  }
}

.P2_main__section__table__dish {
  font-family: "Playfair Display", serif;
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .P2_main__section__table__dish {
    text-align: center;
    margin-bottom: 5px;
  }
}

.P2_main__section__table__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Playfair Display", serif;
  font-size: 0.9em;
  font-weight: 600;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .P2_main__section__table__price {
    margin-bottom: 10px;
  }
}

.P2_main__section__table .P2_clr_entre {
  color: #c67412;
}

.P2_main__section__table .P2_clr_entre h2:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#c67412), color-stop(5%, #c67412), color-stop(6%, transparent)) no-repeat;
  background: linear-gradient(to top, #c67412 0%, #c67412 5%, transparent 6%) no-repeat;
  background-position: left 0 bottom 0px;
  background-origin: content-box;
  -webkit-animation: underline 1s;
          animation: underline 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.P2_main__section__table .P2_clr_dish {
  color: #a56799;
}

.P2_main__section__table .P2_clr_dish h2:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#a56799), color-stop(5%, #a56799), color-stop(6%, transparent)) no-repeat;
  background: linear-gradient(to top, #a56799 0%, #a56799 5%, transparent 6%) no-repeat;
  background-position: left 0 bottom 0px;
  background-origin: content-box;
  -webkit-animation: underline 1s;
          animation: underline 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.P2_main__section__table .P2_clr_dessert {
  color: #6e4ccc;
}

.P2_main__section__table .P2_clr_dessert h2:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#6e4ccc), color-stop(5%, #6e4ccc), color-stop(6%, transparent)) no-repeat;
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 5%, transparent 6%) no-repeat;
  background-position: left 0 bottom 0px;
  background-origin: content-box;
  -webkit-animation: underline 1s;
          animation: underline 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.P3_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.P3_main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Balsamiq Sans", cursive;
}

.P3_main__section {
  background-color: #edefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .P3_main__section {
    width: 100%;
  }
}

.P3_main__section__title {
  font-family: "Dancing Script", cursive;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5em;
  width: 100%;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0431df), to(#0887fb));
  background-image: linear-gradient(to bottom right, #0431df, #0887fb);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.P3_main__section__table {
  width: 80%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .P3_main__section__table {
    width: 95%;
    display: block;
  }
}

.P3_main__section__table tr {
  /*Table line height*/
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .P3_main__section__table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
}

.P3_main__section__table tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .P3_main__section__table tbody {
    width: 100%;
    display: block;
  }
}

.P3_main__section__table__caption {
  font-family: "Kalam", cursive;
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0;
}

@media screen and (min-width: 800px) and (max-width: 991px) {
  .P3_main__section__table__caption {
    font-size: 0.7em;
  }
}

@media screen and (min-width: 768px) and (max-width: 799px) {
  .P3_main__section__table__caption {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 768px) {
  .P3_main__section__table__caption {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.P3_main__section__table__caption__line {
  width: 30%;
}

@media screen and (max-width: 768px) {
  .P3_main__section__table__caption__line {
    display: none;
  }
}

.P3_main__section__table__caption h2 {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .P3_main__section__table__caption h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.P3_main__section__table__caption h2:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(5%, black), color-stop(6%, transparent)) no-repeat;
  background: linear-gradient(to top, black 0%, black 5%, transparent 6%) no-repeat;
  background-position: left 0 bottom 0px;
  background-origin: content-box;
  -webkit-animation: underline 1s;
          animation: underline 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.P3_main__section__table__dish {
  font-family: "Kalam", cursive;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .P3_main__section__table__dish {
    text-align: center;
    margin-bottom: 5px;
  }
}

.P3_main__section__table__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Kalam", cursive;
  font-size: 1em;
  font-weight: 600;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .P3_main__section__table__price {
    margin-bottom: 15px;
  }
}

.P4_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.P4_main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Balsamiq Sans", cursive;
}

.P4_main__section {
  background-color: #edefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .P4_main__section {
    width: 100%;
  }
}

.P4_main__section__title {
  font-family: "Kaushan Script", cursive;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5em;
  width: 100%;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3d9339), to(#bfff7e));
  background-image: linear-gradient(to bottom right, #3d9339, #bfff7e);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.P4_main__section__table {
  width: 80%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .P4_main__section__table {
    width: 95%;
    display: block;
  }
}

.P4_main__section__table tr {
  /*Table line height*/
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .P4_main__section__table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
}

.P4_main__section__table tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .P4_main__section__table tbody {
    display: block;
    width: 100%;
  }
}

.P4_main__section__table__caption {
  font-family: "Caveat", cursive;
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 920px) {
  .P4_main__section__table__caption {
    font-size: 1em;
  }
}

@media screen and (max-width: 768px) {
  .P4_main__section__table__caption {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.P4_main__section__table__caption__line {
  width: 30%;
}

@media screen and (max-width: 768px) {
  .P4_main__section__table__caption__line {
    display: none;
  }
}

.P4_main__section__table__caption h2 {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .P4_main__section__table__caption h2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.P4_main__section__table__caption h2:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(5%, black), color-stop(6%, transparent)) no-repeat;
  background: linear-gradient(to top, black 0%, black 5%, transparent 6%) no-repeat;
  background-position: left 0 bottom 0px;
  background-origin: content-box;
  -webkit-animation: underline 1s;
          animation: underline 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.P4_main__section__table__dish {
  font-family: "Pangolin", cursive;
  font-size: 1em;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .P4_main__section__table__dish {
    text-align: center;
    margin-bottom: 5px;
  }
}

.P4_main__section__table__price {
  font-family: "Caveat", cursive;
  font-size: 1.5em;
  font-weight: 600;
  text-align: right;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .P4_main__section__table__price {
    margin-bottom: 15px;
  }
}

.mentions {
  margin: auto;
  text-align: center;
  font-size: 2em;
}
