.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    &__title {
        display: flex;
        font-family: $font_3;
        & hr {
            color: red;
        }
    }
    &__section {
        background-color: $clr_menu_1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 30%;
        &__icon {
            font-size: 4em;
            margin-top: 50px;
        }
        & h2 {
            font-family: $font_4;
        }
        &__table {
            width: 60%;
            &__title {
                font-family: $font_3;
                position: relative;
                overflow: hidden;
                text-align: center;
                &::before {
                    /*right line*/
                    position: absolute;
                    top: 51%;
                    overflow: hidden;
                    width: 45%;
                    height: 1px;
                    content: "\a0";
                    margin-left: -55%;
                    text-align: right;
                    background-color: black;
                }
                &::after {
                    /*left line*/
                    position: absolute;
                    top: 51%;
                    overflow: hidden;
                    width: 45%;
                    height: 1px;
                    content: "\a0";
                    background-color: black;
                    margin-left: 10%;
                }
                &:hover {
                    animation: underline 1s;
                }
            }
            &__dish {
                font-family: $font_1;
            }
            &__price {
                font-family: $font_1;
                text-align: right;
            }
        }
        &__foot_menu {
            display: flex;
            justify-content: center;
            align-items: center;
            & .icon {
                font-size: 2em;
                margin-right: 10px;
            }
            & h2 {
                font-family: $font_4;
            }
        }
    }
}