.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    &__title {
        display: flex;
        font-family: $font_3;
        & hr {
            color: red;
        }
    }
    &__section {
        background-color: $clr_menu_1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        &__icon {
            font-size: 4em;
            margin-top: 30px;
        }
        & h2 {
            font-family: $font_4;
            margin-top: 0;
        }
        &__table {
            width: 80%;
            margin-bottom: 30px;
            & tr {
                /*Table line height*/
                height: 40px;
            }
            &__title {
                font-family: $font_3;
                font-size: 1.5em;
                position: relative;
                overflow: hidden;
                text-align: center;
                &:hover {
                    @include underline_parameters($P1_clr_underline, $P1_underline_position)
                }
            }
            &__dish {
                font-family: $font_1;
                font-size: 1.2em;
            }
            &__price {
                font-family: $font_1;
                font-size: 1.2em;
                font-weight: 600;
                text-align: right;
            }
        }
        &__foot_menu {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            & .icon {
                font-size: 2em;
                margin-right: 10px;
            }
            & h2 {
                font-family: $font_4;
                margin: auto;
            }
        }
    }
}