/*variables, functions, mixin*/


/*linear gradient from left to right*/

@mixin gradient_right($clr_1, $clr_2) {
    background-image: linear-gradient(to right, $clr_1, $clr_2);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


/*linear gradient from top left to bottom right*/

@mixin gradient_right_bottom($clr_1, $clr_2) {
    background-image: linear-gradient(to bottom right, $clr_1, $clr_2);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


/*properties menu animations*/

@mixin prop_anim_menu {
    transition: transform 400ms;
}


/*animation hover menu*/

@mixin anim_hover_menu {
    transform: scale(1.2);
    opacity: 0.8;
}


/*animation dot apparition*/

@keyframes dots_apparition {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}


/*wriggle effect*/

@keyframes wriggle {
    25% {
        transform: rotate(6deg);
    }
    75% {
        transform: rotate(-6deg);
    }
}


/*underline effect*/