.P2_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    &__title {
        display: flex;
        font-family: $font_6;
    }
    &__section {
        background-color: $clr_menu_2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 0;
        padding-bottom: 50px;
        @include responsive_mobile {
            width: 100%;
        }
        &__title {
            font-family: $font_6;
            margin-top: 30px;
            margin-bottom: 30px;
            @include gradient_right($clr_grad_purple_1, $clr_grad_purple_2);
        }
        &__table {
            width: 100%;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include responsive_mobile {
                width: 95%;
                display: block;
            }
            & tr {
                /*Table line height*/
                height: auto;
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                @include responsive_mobile {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: auto;
                }
            }
            & tbody {
                display: flex;
                width: 80%;
                flex-direction: column;
                justify-content: center;
                @include responsive_mobile {
                    width: 100%;
                    display: block;
                }
            }
            &__caption {
                font-family: $font_6;
                font-size: 0.9em;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                padding: 0;
                @media screen and (min-width: $media_smartphone) and (max-width: 867px) {
                    font-size: 0.8em;
                }
                @include responsive_mobile {
                    justify-content: center;
                }
                &__line {
                    width: 25%;
                    @include responsive_mobile {
                        display: none;
                    }
                }
                & h2 {
                    @include responsive_mobile {
                        margin-bottom: 10px;
                    }
                }
            }
            &__dish {
                font-family: $font_6;
                font-size: 0.9em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @include responsive_mobile {
                    text-align: center;
                    margin-bottom: 5px;
                }
            }
            &__price {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: $font_6;
                font-size: 0.9em;
                font-weight: 600;
                text-align: right;
                @include responsive_mobile {
                    margin-bottom: 10px;
                }
            }
            /*underline and color ajustment*/
            & .P2_clr_entre {
                color: $clr_P2_entre;
                & h2 {
                    &:hover {
                        @include underline_parameters($clr_P2_entre, 0px)
                    }
                }
            }
            & .P2_clr_dish {
                color: $clr_P2_dish;
                & h2 {
                    &:hover {
                        @include underline_parameters($clr_P2_dish, 0px)
                    }
                }
            }
            & .P2_clr_dessert {
                color: $clr_P2_dessert;
                & h2 {
                    &:hover {
                        @include underline_parameters($clr_P2_dessert, 0px)
                    }
                }
            }
        }
    }
}