.P3_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    &__title {
        display: flex;
        font-family: $font_3;
    }
    &__section {
        background-color: $clr_menu_3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-top: 0;
        @include responsive_mobile {
            width: 100%;
        }
        &__title {
            font-family: $font_1;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 2.5em;
            width: 100%;
            text-align: center;
            @include gradient_right_bottom($clr_grad_blue_1, $clr_grad_blue_2);
        }
        &__table {
            width: 80%;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include responsive_mobile {
                width: 95%;
                display: block;
            }
            & tr {
                /*Table line height*/
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                @include responsive_mobile {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: auto;
                }
            }
            & tbody {
                display: flex;
                width: 90%;
                flex-direction: column;
                justify-content: center;
                @include responsive_mobile {
                    width: 100%;
                    display: block;
                }
            }
            &__caption {
                font-family: $font_4;
                font-size: 0.9em;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 0;
                @media screen and (min-width: 800px) and (max-width: 991px) {
                    font-size: 0.7em;
                }
                @media screen and (min-width: $media_smartphone) and (max-width: 799px) {
                    font-size: 0.6em;
                }
                @include responsive_mobile {
                    justify-content: center;
                }
                &__line {
                    width: 30%;
                    @include responsive_mobile {
                        display: none;
                    }
                }
                & h2 {
                    margin: 0;
                    @include responsive_mobile {
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                    &:hover {
                        @include underline_parameters($P1_clr_underline, 0px)
                    }
                }
            }
            &__dish {
                font-family: $font_4;
                font-size: 1em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @include responsive_mobile {
                    text-align: center;
                    margin-bottom: 5px;
                }
            }
            &__price {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: $font_4;
                font-size: 1em;
                font-weight: 600;
                text-align: right;
                @include responsive_mobile {
                    margin-bottom: 15px;
                }
            }
        }
    }
}