/*Blocs BEM*/

body {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    @include responsive_mobile {
        width: 100%;
        margin: 0;
    }
}

header {
    height: 150px;
    background-color: $clr_primary;
    display: flex;
    justify-content: center;
    align-items: center;
    @include responsive_mobile {
        height: 100px;
    }
    & .main_title {
        color: $clr_secondary;
        font-size: 2em;
        font-family: $font_7;
        @include responsive_mobile {
            font-size: 1.5em;
        }
    }
}

footer {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $clr_primary;
    position: fixed;
    bottom: 0;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 1200px;
    @include responsive_mobile {
        width: 100%;
        flex-direction: column;
        padding-bottom: 10px;
    }
    & a {
        position: relative;
        color: $clr_secondary;
        margin: 10px;
        font-size: 1.6em;
        font-family: $font_7;
        @include responsive_mobile {
            font-size: 1.2em;
        }
        &:hover {
            animation: wriggle 150ms cubic-bezier(.4, .1, .6, .9);
            animation-iteration-count: 4;
        }
    }
}